$brand_color: #811434;
$subtle_text_color : #8C8CA1;
$white : #fff;
$body_text_color: #485572;
$bg_sidebar: #E5E5E5;
$sidebar_selected: #F7F1F3;
$alice_grey : #ECF1F4;
$secondary_color : #EF4859;
$light_state_color : #FAFCFE;
$black : #000000;
$dark_color: #262730;
$border_color: #FFF2EE;
$grey_text_color : #868686;
$success_color : #2FCA72;
$frozen_color: #F4F7FF;
$grey_border : #E7E7E7;