@import '../styles/colors.scss';
@import '../styles/typography.scss';

.dashboard_section {
    margin-left: 254px;

    .title_container {
        margin: 24px 0px 32px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title_text {
            color: $subtle_text_color;
            @extend .title_bold;
        }

        .secondary_btn {
            background-color: $secondary_color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 19px;
            border-radius: 4px;
            border: none;
            color: $light_state_color;
            margin-right: 28px;
            cursor: pointer;
            @extend .btn_text;

            svg {
                margin-right: 10px;
            }
        }
    }
}